<%- include('includes/head') %>

<body>
  <section class="container">
    <form action="/" method="post">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
     <label> Cliente </label>
      <input type="text" name="cliente" value="">
      <button>Enviar</button>
  </section>
</body>
  <%- include('includes/footer') %>