<%- include('includes/head') %>

<body>

  <section class="container">
    <h1>
      <%= titulo %>
    </h1>
    <p>
      <% numeros.forEach(num => { %>
        <%= titulo %><br>
      <% }); %>
    </p>
  </section>

  <%- include('includes/footer') %>